.profile-row {

	.third-col {
	
		float: left;
		width: 33%;

		&:first-child {
			text-align: right;
		}

		&.profile-pic {
			margin-top: 20px;
			text-align: center;
			vertical-align: bottom;
		}

		img {
			border-radius: 50%;
		}


		&:last-child {
			text-align: left;
		}

		p:nth-child(1) {
			margin: 0;
		}
	}

}

.open-closed-row {

	clear: both;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	button {
		display: inline-block;
		width: 51%;
		height: 30px;
		margin: 0px -4px;

		border-radius: 0px;
		-webkit-border-radius:0px;

		&.active {
			background-color: black;
			border: none;
			color: white;
		}
	}
}