<div class="question-template">
	<div class="profile-row">
		<div class="third-col">
			<p>{{answer.user.name}}</p>
			<br>
			<p>{{answer.user.location}}</p>
			<br>
			<p><a href="#">Invite Friends</a></p>
		</div>
		<div class="third-col">
			<img ng-src="{{answer.pic}}">
		</div>
		<div class="third-col">
			<p>People want to hear from you!</p>
			<br>
			<p><a ui-sref="profile.edit">Edit Profile</a></p>
		</div>
	</div>

	<div class="open-closed-row">
		<button ng-class="{active: answer.group === 'friendQuestionsActive'}"
						ng-click="answer.typeSelection('friendQuestionsActive')">OPEN</button>
		<button ng-class="{active: answer.group === 'friendQuestionsOld'}"
						ng-click="answer.typeSelection('friendQuestionsOld')">CLOSED</button>
	</div>

	<div class="container">
		<div class="question-block"
				 ng-repeat="question in answer.currentQuestions | limitTo: 2"
				 ng-click="answer.loadQuestion($index)">
			<h6>{{question.query}}</h6>
				<div class="row options-row">
					<div class="pop-option" ng-click="qctrl.vote('answer1')">{{question.answer1.option}}
					</div>

					<div class="pop-option" ng-click="qctrl.vote('answer2')">{{question.answer2.option}}

				</div>
			</div>
		</div>
	</div>
</div>