<question-layout></question-layout>

<!-- <div class="top-row">
  <p class="lead">{{ask.user.name}} asks...
    <img ng-src={{ask.profilePic}}>
    <textarea class="form-control question-box"
              ng-model="ask.question"
              maxlength="140"></textarea>
  </p>
</div>
<div class="clearfix"></div>

<div class="mid-row">

    <textarea class="form-control swipe-option"
                ng-model="ask.swipeLeft"
                maxlength="140"></textarea>

    <textarea class="form-control swipe-option"
              ng-model="ask.swipeRight"
              maxlength="140"></textarea>
  <div class="clearfix"></div>

    <button class="btn btn-default">Add photo</button>
    <button class="btn btn-default">Add photo</button>

  <br>
</div>

<div class="bottom-row">
  <div class="container">
    <h5>Select Voters</h5>

    <form class="who-should-answer">
      <p><input type="radio"
           ng-model="ask.answerers"
           value="all" /> Everyone</p>
      <p><input type="radio"
           ng-model="ask.answerers"
           value="friends"
           ng-change="ask.getFriends()" /> Just these guys:</p>
    </form>
    <div class="friend-zone">
      <ul>
        <li ng-repeat="friend in ask.friends">
          <input type="checkbox"
                 ng-model="friend.selected" />{{friend.name}}
        </li>
      </ul>
    </div>
  </div>

  <div class="container">
    <h3>Timer</h3>
    <div class="col-xs-7">
      <input type="range"
            min="0"
            max="6"
            ng-model="ask.timerIndex">
    </div>
    <div class="col-xs-5">
      {{ask.timerOptions[ask.timerIndex]}}
    </div>


  </div>
</div>

<button class="btn btn-default btn-lg"
        id="ask-button"
        ng-click="ask.postQuestion()">Ask!</button> -->