$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

$balanced:                        rgb(0, 204, 102) !default;
$positive:                        rgb(0, 0, 255) !default;
$yellow:													rgb(255, 255, 153) !default;
$grey:														rgb(204, 204, 204) !default;

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'answer/templates/answer.scss';
@import 'ask/chooseVoters/chooseVoters.scss';
@import 'ask/templates/ask.scss';
@import 'main/main.scss';
@import 'profile/profile.scss';
@import 'questions/questions.scss';
@import 'modal/modal.scss';
// endinjector