<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl as navbar">
  <header class="hero-unit" id="banner">
    <div class="container">
      <div class="col-xs-2"></div>

      <div class="col-xs-8">
        <h2>Populate</h2>
        <p class="lead">Ask More. Be Heard.</p>
      </div>

      <div class="col-xs-2">
        <img id="user-pic"
             ng-src="https://graph.facebook.com/{{navbar.user.facebook.id}}/picture" />
      </div>

    </div>
  </header>
</div>
