body {
    font-family: 'Helvetica Neue', Roboto, sans-serif;
}


#banner {
    background-color: $balanced;
    border-bottom: 1px solid #ccc;
    margin-top: -20px;
    position: relative;
    padding: 15px 15px 0 15px;
    color: #444;
    text-align: center;
}

.footer {
  bottom: 0;
  height: 10%;
  position: fixed;
  width: 100%;

  .footer-tab {
    
    display: inline-block;
    margin: 20px 0;
    text-align: center;
    width: 18%;

    img {
      height: 25px;
    }

    &:hover {
        cursor: pointer;
    }
  }
}

.navbar {
  margin-bottom: -1px;
}

.footer .container .btn-group .btn {
    padding: 6px 10px;
}