<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Populate</h1>
    <p class="lead">Populate is...</p>
    <img src="assets/images/yeoman.png" alt="Populate logo">
  </div>
</header>

<div>
	<p>Facebook friends already using Populate:</p>
	<ul>
		<li ng-repeat="friend in main.databaseFriends">
			{{friend.name}} <button ng-click="main.addFriend($index)">add friend</button>
		</li>
	</ul>
</div>

<div ng-include="'components/footer/footer.html'"></div>
