<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Populate</h1>
    <p class="lead">Ask More. Be Heard.</p>
    <img src="assets/images/yeoman.png" alt="Populate logo">
  </div>
    <div>
	    <a class="btn btn-facebook" href="" ng-click="main.loginOauth('facebook')">
	      <i class="fa fa-facebook"></i> Connect with Facebook
	    </a>
	  </div>
</header>

<div ng-if="main.friends.length">
	<p>Add your friends to begin asking them questions:</p>
	<ul>
		<li ng-repeat="friend in main.databaseFriends">
			{{friend.name}} <button ng-click="main.addFriend($index)">add friend</button>
		</li>
	</ul>
</div>

<div ng-include="'components/footer/footer.html'"></div>
