<div class="choose-voters-popup">
	<div class="triangle"></div>
	<input type="search" class="search-box" placeholder="search">

	<button id="x-box" class="button button-small button-assertive" 
					ng-click="ask.openVotersPopup()">X</button>
	
	<!-- <div class="tab-group">
		<div class="tab">Friends</div>
		<div class="tab">Recent</div>
		<div class="tab">Groups</div>
	</div>
	 -->
	<div class="voter-list">
		<ul class="list">
		 	<li class="item item-checkbox"
		 			ng-repeat="friend in qctrl.user.friends">
		 		{{friend.name}}
		 		<label class="checkbox">
	      	<input type="checkbox" ng-model="ask.friends[$index]">
	    	</label>
		 	</li>
		</ul>
	</div>

	<button ng-click="ask.processVoters()">&#10003;</button>

</div>