<div class="choose-voters-popup">
	<div class="triangle"></div>
	<input type="search" class="search-box" placeholder="search">
	
	<!-- <div class="tab-group">
		<div class="tab">Friends</div>
		<div class="tab">Recent</div>
		<div class="tab">Groups</div>
	</div>
	 -->

	 <ul class="list voter-list">
	 	<li class="item"
	 			ng-repeat="friend in qctrl.user.friends">
	 		<p>{{friend.name}}</p>
	 		<input type="checkbox" ng-model="qctrl.voters[$index]">
	 	</li>
	 </ul>

	<button ng-click="openVotersPopup()">&#10003;</button>

</div>