#x-box {
	width: 26px;
  /*border: none;*/
  /*background-color: white;*/
  /*color: #00cc66;*/
  float: right;
  margin: 6px;
}

.voter-list {
	height: 83%;
}

.choose-voters-popup {
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	position: absolute;
	background-color: #ddd;
	height: 80%;
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
	top: 40px;
	width: 90%;
	z-index: 10;

	.search-box {
		width: 75%;
		border: none;
		margin-left: 5%;
		margin-right: auto;
		height: 20px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.tab-group {
		margin-left: 16px;
	}

	.tab {
		display: inline-block;
		border: 2px solid #999;
		padding: 0px 4px;
		width: 70px;
		margin: 0 -3px;
	}

	.item.item-checkbox {
		padding-left: 10px;
  	font-size: 1.1em;
	}

	input[type='checkbox'] {
	  float: right;
	  margin: -5px;
	  width: 15%;
	}

	button {
		margin-left: auto;
		margin-right: auto;
		margin-top: 4px;
		display: block;
		width: 160px;
		border-radius: 6px;
		border: none;
		background-color: #eee;
		color: $balanced;
	}
}

.triangle {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #ddd;
	margin-top: -10px;
	margin-left: auto;
	margin-right: auto;
}