<div class="container profile-view">
  <button class="btn btn-default" ng-click="profile.seeMyQuestions(0, 'myQuestionsCurrent')">
  	{{profile.myQuestionsCurrent.length + profile.myQuestionsOld.length}} questions asked.
  </button>

	<button class="btn btn-default" ng-click="profile.seeMyQuestions(0, 'friendQuestionsOld')">
		{{profile.friendQuestionsCurrent.length + profile.friendQuestionsOld.length}} questions answered.
	</button>
	<div class="clearfix"></div>
	<button class="btn btn-default">Edit Profile</button>
</div>

<div class="container center">
	<h3>My Votes</h3>
</div>

<div ng-show="!profile.myQuestionsCurrent.length"
		 class="container">
	<h4>No active votes!</h4>
	<a ui-sref="ask.newquestion"><button class="btn btn-default">Ask a new question</button></a>
</div>

<div ng-if="profile.myQuestionsCurrent.length" 
		 class="container question-list">
	<h4>Active</h4>
	<div ng-repeat="question in profile.myQuestionsCurrent | limitTo: 2" 
			 ng-click="profile.seeMyQuestions($index, 'myQuestionsCurrent')">

		<button class="btn btn-default">{{question.query}}</button>
<!-- 		<button class="btn btn-default">{{question.swipeLeft.votes}}</button class="btn btn-default">
		<button class="btn btn-default">{{question.swipeLeft.option}}</button>
		<button class="btn btn-default">{{question.swipeRight.votes}}</button class="btn btn-default">
		<button class="btn btn-default">{{question.swipeRight.option}}</button> -->
	</div>
	<button class="btn btn-default"
					ng-click="profile.seeMyQuestions(0, 'myQuestionsCurrent')">See all active votes</button>
</div>

<div class="container question-list">
	<h4>Past</h4>
	<div ng-repeat="question in profile.myQuestionsOld | limitTo: 2" 
			 ng-click="profile.seeMyQuestions($index, 'myQuestionsOld')">
		<button class="btn btn-default">{{question.query}}</button>
<!-- 		<button class="btn btn-default">{{question.swipeLeft.votes}}</button class="btn btn-default">
		<button class="btn btn-default">{{question.swipeLeft.option}}</button>
		<button class="btn btn-default">{{question.swipeRight.votes}}</button class="btn btn-default">
		<button class="btn btn-default">{{question.swipeRight.option}}</button> -->
	</div>
	<button class="btn btn-default"
					ng-click="profile.seeMyQuestions(0, 'myQuestionsOld')">See all past votes</button>
</div>
