<div class="question-template">
	<div class="asker-row">
		<img ng-src="{{qctrl.currentQuestion.askerPic}}">
		<p>{{qctrl.currentQuestion.askerName}} asks:</p>
		<p><b>{{qctrl.currentQuestion.query}}</b></p>
	</div>
	<div class="clearfix"></div>

	<div class="row options-row">
		<div class="pop-option" 
				 ng-class="{active: qctrl.choice === 'answer1'}" ng-click="qctrl.select('answer1')">{{qctrl.currentQuestion.answer1.option}}
		</div>

		<div class="pop-option" 
				 ng-class="{active: qctrl.choice === 'answer2'}" ng-click="qctrl.select('answer2')">{{qctrl.currentQuestion.answer2.option}}

		</div>
	</div>
	<div class="voters-row">
		<div class="pop-option-voters">
			<span ng-repeat="voter in qctrl.currentQuestion.answer1.voters">
				{{voter.voterName}}<span ng-if="!$last">, </span>
			</span>
		</div>
		<div class="pop-option-voters">
			<span ng-repeat="voter in qctrl.currentQuestion.answer2.voters">
				{{voter.voterName}}<span ng-if="!$last">, </span>
			</span>
		</div>

		<div ng-if="question.isActive" class="time-voters-remaining">
			<img src="assets/images/noun_77811_cc.png">
			<div class="pop-option-voters">alex, ben, charlie</div>
		</div>
	</div>
	<div class="comments-row">
		<ul>
			<li ng-repeat="comment in qctrl.currentQuestion.comments">
				{{comment.name}}: {{comment.comment}}
			</li>
			<!-- have to add ng-if comments allowed -->
			<a href="#" ng-click="qctrl.openCommentsPopup()">
				<li>...add a comment!</li>
			</a>
		</ul>
	<add-comment ng-if="qctrl.commentsOpen" 
		add-new-comment="qctrl.addNewComment()"
		comment="qctrl.comment"></add-comment>
	</div>

	<div class="bottom-row">
		<div ng-if="!qctrl.currentQuestion.isActive" class="inactive-question-buttons">
			<img src="assets/images/noun_6507_cc.png">
			<img src="assets/images/noun_38558_cc.png">
			<a href="#"><img ng-click="qctrl.nextQuestion()"
					 src="assets/images/noun_6508_cc.png"></a>
		</div>
		<div ng-if="qctrl.currentQuestion.isActive &&
								qctrl.user._id !== qctrl.currentQuestion.askerId" 
				 class="active-question-buttons">
			<button class="button" ng-click="qctrl.vote()">ANSWER!</button>
			<a href="#"><img ng-click="qctrl.nextQuestion()"
					 src="assets/images/noun_6508_cc.png"></a>
			<img src="assets/images/noun_38558_cc.png">
		</div>
	</div>
</div>