<div class="question-template">
	<div class="asker-row">
		<img ng-src="{{qctrl.pic}}">
		<p><b>{{qctrl.user.name}} asks:</b></p>
		<textarea ng-model="qctrl.question.query"
							placeholder="Enter question..."
							maxlength="100"></textarea>
	</div>
	<div class="clearfix"></div>

	<div class="row options-row">
		<textarea ng-model="qctrl.question.answer1.option" 
							placeholder="Answer" 
							maxlength="50">
		</textarea>
	  <textarea ng-model="qctrl.question.answer2.option" 
	  					placeholder="Answer" 
	  					maxlength="50">
	  </textarea>

	</div>
	  <input id="file-upload-1" 
	  			 type="file"
	  			 accept="image/*"
	  			 placeholder="placeholder text"/>
	  <button ng-click="qctrl.uploadPic()">upload</button>
	 	<input id="file-upload-1" 
	  			 type="file"/>
	  <button ng-click="qctrl.uploadPic()">upload</button>

	<div class="voters-row">
		<button class="button" ng-click="qctrl.openVotersPopup()">
		  SELECT VOTERS
		</button>
		<button class="comments-button button"
						ng-class="{enabled: qctrl.commentsAllowed}"
						ng-click="qctrl.enableComments()">
		  <p ng-if="qctrl.commentsAllowed">Comments On</p>
		  <p ng-if="!qctrl.commentsAllowed">Comments Off</p>
		</button>
		<choose-voters ng-if="qctrl.votersOpen"></choose-voters>
		
		<input type="range" name="timer" min="0" max="6" ng-model="qctrl.timerIndex">

		<p>{{qctrl.timerOptions[qctrl.timerIndex]}}</p>
	</div>

	<div class="bottom-row">
		<button class="ask-button button" ng-click="qctrl.askQuestion()">
		  ASK!
		</button>
	</div>
</div>