.question-template {
	background-color: $yellow;
	color: $positive;
}


.asker-row {

	margin-bottom: 10px;

	img {
		float: left;
		margin: 5px 10px;
	}

	.item-input-inset {
		margin-top: -15px;
		padding-left: 0;
		text-overflow: ellipsis;
	}

	input {
		border-radius: 4px;
		background-color: $yellow;
		border: none;
		height: 2em;
		padding: 10px;
		font-weight: normal;
		width: 68%;
	}
}

.options-row {
	height: 120px;
	margin-left: 6%;
	margin-right: auto;
	width: 94%;

	textarea {
		background-color: $yellow;
		border: 3px solid #c2c2c2;
		border-radius: 2px;
		box-shadow: none;
		display: inline;
		height: 100%;
		margin: 2px;
		padding: 10px;
		resize: none; /*seems to break sass */
		width: 45%;
	}

	::-webkit-input-placeholder {
   color: $positive;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: $positive;  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: $positive;  
	}

	:-ms-input-placeholder {  
	   color: $positive;  
	}
}

.voters-row {

	margin-left: 6%;
	margin-right: auto;
	width: 94%;

	.button {
		background-color: $balanced;
		border: none;
		border-radius: 8px;
		color: #fff;
		display: inline-block;
		font-size: 1.1em;
		height: 40px;
		margin: 10px 0 10px 2px;
		vertical-align: bottom;
		width: 72%;

		&.comments-button {
			background-color: $positive;
			font-size: 10px;
			line-height: 12px;
			padding: 0;
			margin-left: -4px;
			width: 20%;
		}
	}

	input {
		display: inline-block;
		height: 36px;
		margin: 2px;
		width: 72%;
	}
	p {
		display: inline-block;
		vertical-align: bottom;
	}
}

.bottom-row {
	margin-left: 6%;
	margin-right: auto;
	width: 94%;
}

.ask-button {
	background-color: $balanced;
	border: none;
	border-radius: 6px;
	color: white;
	font-size: 1.2em;
	height: 90px;
	width: 92%;
}