<div class="question-template">
	<div class="asker-row">
		<img ng-src="{{qctrl.pic}}">
		<p><b>{{qctrl.user.name}} asks:</b></p>
		<textarea ng-model="qctrl.question.query"
							placeholder="Enter question..."
							maxlength="100"></textarea>
	</div>
	<div class="clearfix"></div>

	<div class="row options-row">
		<div class="option-input">
			<image-uploader pic="qctrl.question.answer1.image"></image-uploader>
			<textarea ng-if="!qctrl.question.answer1.image"
								ng-model="qctrl.question.answer1.option" 
								placeholder="Answer" 
								maxlength="50">
			</textarea>
		</div>
	  <div class="option-input">
			<image-uploader pic="qctrl.question.answer2.image"></image-uploader>
		  <textarea ng-if="!qctrl.question.answer2.image"
		  					ng-model="qctrl.question.answer2.option" 
		  					placeholder="Answer" 
		  					maxlength="50">
	  	</textarea>
		</div>
	</div>

	<div class="voters-row">
		<button class="button" ng-click="qctrl.openVotersPopup()">
		  <span ng-if="!qctrl.voters.length">SELECT VOTERS</span>
		  <span ng-if="qctrl.voters.length">{{qctrl.voters.length}} selected</span>
		</button>
		<button class="comments-button button"
						ng-class="{enabled: qctrl.commentsAllowed}"
						ng-click="qctrl.enableComments()">
		  <p ng-if="qctrl.commentsAllowed">Comments On</p>
		  <p ng-if="!qctrl.commentsAllowed">Comments Off</p>
		</button>
		<choose-voters ng-if="qctrl.votersOpen"></choose-voters>
		
		<input type="range" name="timer" min="0" max="6" ng-model="qctrl.timerIndex">

		<p>{{qctrl.timerOptions[qctrl.timerIndex]}}</p>
	</div>

	<div class="bottom-row">
		<button class="ask-button button" ng-click="qctrl.askQuestion()">
		  ASK!
		</button>
	</div>
</div>