<div class="question-template">
<!-- 	<div class="asker-row">
		<img src="https://graph.facebook.com/4201092/picture">
		<p><b>{{ask.user.given_name + ' ' + ask.user.family_name[0] + '.'}} asks:</b></p>
		<input type="text" placeholder="Enter question..." maxlength="140">
	</div>
	<div class="clearfix"></div>

	<div class="row options-row">
		<textarea placeholder="Answer" maxlength="50"></textarea>
	  <textarea placeholder="Answer" maxlength="50"></textarea>
	</div>

	<div class="voters-row">
		<button class="button">
		  SELECT VOTERS
		</button>
		<button class="comments-button button">
		  Enable Comments
		</button>
		
		<input type="range" name="timer" min="0" max="7" value="2">

		<p>Timer</p>
	</div>

	<div class="bottom-row">
		<button class="ask-button button" ng-click="ask.getQs()">
		  ASK!
		</button>
	</div> -->
</div>
question vote!
<button ng-click="$parent.answer.vote('right')">VOTE</button>
<p>{{question.query}}</p>