<div class="question-template">
	<div class="asker-row">
		<img src="https://graph.facebook.com/4201092/picture">
		<p><b>{{question.askerName}} asks:</b></p>
		<p>{{question.query}}</p>
	</div>
	<div class="clearfix"></div>

	<div class="row options-row">
		<p ng-click="answer.vote('swipeLeft')">{{question.swipeLeft.option}}</p>
		<p ng-click="answer.vote('swipeRight')">{{question.swipeRight.option}}</p>
	</div>

	<div class="voters-row">

	</div>

	<div class="bottom-row">

	</div>
</div>
question vote!
