<div ng-include="'components/navbar/navbar.html'"></div>

<div class="top-row" ng-if="!answer.end">
  <p class="lead">{{answer.currentQuestion.askerName}} would like to know...
    <img ng-src={{answer.currentQuestion.askerPic}}>
    <p class="query">{{answer.currentQuestion.query}}</p>
  </p>
</div>
<div class="clearfix"></div>
<div ng-if="!answer.end" class="mid-row">

  <div class="form-control swipe-option"
       ng-click="answer.vote('swipeLeft')">
    {{answer.currentQuestion.swipeLeft.option}}
  </div>

  <div class="form-control swipe-option"
       ng-click="answer.vote('swipeRight')">
    {{answer.currentQuestion.swipeRight.option}}
  </div>
  <div class="clearfix"></div>
</div>

<div class="vote-count">
  <p>{{answer.currentQuestion.swipeLeft.votes}}</p>
  <p>{{answer.currentQuestion.swipeRight.votes}}</p>
</div>

<div class="bottom-row">
  <div class="container">
    <p>This Vote closes at</p>
    <p>{{answer.createDateString(answer.currentQuestion.closesAt)}}</p>
  </div>
</div>


<div ng-if="answer.end" class="mid-row">

  <h4>There are no more question to answer. Why don't you <a ui-sref="ask.newquestion">ask some?</a></h4>


</div>

<div ng-include="'components/footer/footer.html'"></div>