<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <div>
    	<h4>{{answer.currentQuestion.query}}</h4>
    	<button class="btn btn-default left-swipe"
    					ng-click="answer.vote('swipeLeft')">
    					{{answer.currentQuestion.swipeLeft.option}}
    	</button>
    	<button class="btn btn-default right-swipe"
    					ng-click="answer.vote('swipeRight')">
    					{{answer.currentQuestion.swipeRight.option}}
    	</button>
    </div>
  </div>
</header>

<div ng-include="'components/footer/footer.html'"></div>
