<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div ng-if="!answer.end" class="container">
    <div>
    	<h4>{{answer.currentQuestion.query}}</h4>
    	<button class="btn btn-default left-swipe"
    					ng-click="answer.vote('swipeLeft')">
    					{{answer.currentQuestion.swipeLeft.option}}
    	</button>
    	<button class="btn btn-default right-swipe"
    					ng-click="answer.vote('swipeRight')">
    					{{answer.currentQuestion.swipeRight.option}}
    	</button>
    </div>
  </div>
  <div ng-if="answer.end" class="container">
    <h4>There are no more question to answer. Why don't you <a ui-sref="ask.newquestion">ask some?</a></h4>


  </div>
</header>

<div ng-include="'components/footer/footer.html'"></div>
